@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.2;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav {
  height: 10rem;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  transition: opacity 300ms linear;

  &:hover {
    opacity: 0.6;
  }
}

.logo {
  display: block;
  width: 8rem;
}

.landing-page {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #3b4679, #2b3153);
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100vh;
    background-image: url("./images/bg-pat.png");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &-details {
    max-width: 80%;
    text-align: center;
    & .title {
      font-size: 6rem;
      color: #fff;
      margin-bottom: 1rem;
    }

    & .desc {
      color: #929fc5;
      margin-bottom: 2.5rem;
    }

    & .search {
      margin-bottom: 2.5rem;
      input {
        border: none;
        outline: none;
        border-radius: 5rem;
        padding: 2rem;
      }

      &-bar {
        width: calc(100% - 0.5rem);
      }

      &-btn {
        width: 10rem;
        background-image: linear-gradient(to right, #ff83d5, #ffccb0);
        color: #fff;
        cursor: pointer;
        margin-left: -10rem;
        transition: all 300ms linear;
        &:hover {
          background-image: linear-gradient(to left, #ff83d5, #ffccb0);
        }
      }
    }
  }

  & .sm-list {
    display: flex; // stretch and flex-start
  }

  & .sm-link {
    color: #929fc5;
    width: 3rem;
    height: 3rem;
    border: 1px solid #929fc5;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;

    transition: all 300ms linear;
    & i {
      margin: auto;
    }

    &:hover {
      background-image: linear-gradient(to right, #a971ff, #00f0ff);
      color: #fff;
    }
  }

  .image-group {
    text-align: center;
    position: relative;
  }
}

.blob {
  position: absolute;
  z-index: -1;
  &-large {
    animation: move-up 2s infinite alternate;
  }

  &-bean {
    position: absolute;
    top: 2.5rem;
    left: -3rem;
    z-index: 10;
    animation: move-down 2s infinite alternate;
  }
  &-1 {
    top: -11rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &-2 {
    top: 15rem;
    left: -17rem;
  }

  &-3 {
    right: 5rem;
    bottom: -24rem;
  }

  &-4 {
    left: -21rem;
    bottom: -17rem;
  }
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2rem);
  }
}

@keyframes move-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2rem);
  }
}

.hue-shift {
  animation: hue-shift 2s infinite alternate;
}

@keyframes hue-shift {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .nav {
    align-items: center;
  }

  .content {
    grid-template-columns: 1fr;

    &-details {
      order: 1;
      max-width: 100%;
    }

    & .title {
      font-size: 3.5rem;
    }

    & .desc {
      font-size: 1.4rem;
    }

    & .image-group {
      margin-top: 10rem;
    }
  }

  .blob {
    &-large {
      width: 70%;
    }

    &-bean {
      width: 30%;
      top: -1rem;
      left: 5rem;
    }
    &-4,
    &-1 {
      display: none;
    }

    &-2 {
      left: 30rem;
      bottom: -1rem;
      top: revert;
      width: 25%;
    }

    &-3 {
      right: -3rem;
      bottom: -25rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .nav {
    display: flex;
    flex-direction: column;
    height: 5rem;
  }
  .logo-box {
    margin: 2rem 0;
  }

  .blob {
    &-2 {
      display: none;
    }

    &-3 {
      width: 50%;
      bottom: -10rem;
    }
  }
}
